# OS or editor folders
.DS_Store
._*
Thumbs.db


# -----------------------------------
# optional local maven project config
# https://jimfrenette.com/maven/#configuring-for-projects

.mvn

myproject24