<sly data-sly-test.checked="${(wcmmode.edit || wcmmode.preview) ? 'checked' : ''}" />

<input id="toggle${resource.path.hashCode}" class="foldingpanel-toggle" type="checkbox" checked="${checked}" />
<label for="toggle${resource.path.hashCode}" class="foldingpanel-title" tabindex="0">
    <span>${properties.text @ context='html'}</span>
</label>

<div class="foldingpanel-content">
    <sly data-sly-resource="${'item' @ resourceType='wcm/foundation/components/parsys'}"></sly>
</div>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = !properties.text}"></sly>